

header{
    background-color:#222f3f;
    max-width: 100%;
    
  
}
body{
   display: inline-block;
   max-width: 100%;
}


.content{

   display: inline-block;

   background-color: white;
    
}
.sf1 img{
   padding: 0;

}
main{
  
   display: inline-block;
    padding: 1.5em;
    margin: 0;
}
 .logo img{
    padding:2em;
    
 }
.menu span{
     color: white;
     background-color: #364759;
     padding: 1em;
     
    
   
}
.int{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    background-color: orange;
    margin: 2em;
    padding: 0.7em 0;
   

}
 .menu1{
   display: inline-block;
   background-color:#222f3f;
 }

.img1{
    display: inline-block;
  
    max-width: 100%;
}
    .img1 img{
      border-radius: 30px;
      margin: 0.8rem;
    }

.imgfine img{
    text-align: center;
   }

.play{
    text-align: center;
 }
 .fine{
  
    text-align: center;
 }
 .fine2{

   background-color:#364759;
 
   background-position: center;
    text-align: center;
    padding: 0.5em ;
 }
 footer{
   padding: 5em;
   text-align: center;
   background-color:#222f3f;
}