header{
    background-color:#222f3f;
    
  
}
body{
   
}
main{
  
    padding: 2em;
    margin: 0em;
}
 .logo img{
    padding:2em;
    
 }
.menu span{
   background-color: #364759;
    display: inline;
    padding: 0.7em;
    
   
}
.int{
    
    text-align: center;
    background-color: orange;
    margin: 1em;
    padding: 0.6em 0;
   

}
 .menu1{
   background-color:#222f3f;

   
   
   
 }

.img1{
    display: inline-block;
}

 footer{
    text-align: center;
    background-color:#222f3f;

   
   

    
 }
 .imgfine img{
    text-align: center;
   
 }

 .play{
    text-align: center;
 }
 .fine{
    text-align: center;
 }
 .fine2{
   background-color:#364759;
   ;
   ;
   width: 100%;
   background-position: center;
    text-align: center;
    padding: 0.5em ;
 }