

header{
    background-color:#222f3f;
    
  
}
body{
   display: inline-block;
}
.sf1{
     margin-top: 10%;

}
.content{

   display: inline-block;
   margin: 0%;
    
}
main{
  
   display: inline-block;
    padding: 2em;
    margin: 0em;
}
 .logo img{
    padding:2em;
    
 }
.menu span{
   color: white;
   background-color: #364759;
    display: inline;
    padding: 0.7em;
    
   
}
.int{
    
    text-align: center;
    background-color: orange;
    margin: 1em;
    padding: 0.6em 0;
   

}
 .menu1{
   display: inline-block;
   background-color:#222f3f;
 }

.img1{
    display: inline-block;
  
    max-width: 100%;
}
    .img1 img{
      border-radius: 30px;
      margin: 0.8rem;
    }


 
 .imgfine img{
    text-align: center;
   
 }

 .play{
    text-align: center;
 }
 .fine{
  
    text-align: center;
 }
 .fine2{

   background-color:#364759;
 
   background-position: center;
    text-align: center;
    padding: 0.5em ;
 }
 footer{
   padding: 5em;
   text-align: center;
   background-color:#222f3f;
}